<div class='upload' id='wiki-wrapper'>
  <div id='head'>
    <h1>Upload a file</h1>
  </div>
  <div id='upload'>
    <form action='/upload' class='upload' method='POST' enctype='multipart/form-data'>
      <label for='name'> File name</label>
      <br/>
      <input type='text' name='name' />
      <br/>
      <input type='file' name='file' />
      <br/>
      <input type='submit' value='upload' />
    </form>
  </div>
</div>

 <script type='text/javascript'>
 </script>
