<div class='users' id='wiki-wrapper'>
  <div id='head'>
    <h1>Users</h1>
  </div>
  <div id='users'>
        <table>
          <tbody>
            {{#users}}
            <tr>
              <td>{{name}}</td>
              <td>
                <form action='/user_name' class='username' method='POST'>
		  <input type='HIDDEN' name='name' value='{{{name}}}' />
                  <input name='fullname' type='TEXT' value='{{fullname}}' />
                </form>
              </td>
              <td>
                {{{passwordfield}}}
              </td>
            </tr>
            {{/users}}
            <form action='/user_add' class='add' method='POST'>
              <tr>
                <td>new:
		  <input type='TEXT' name='name' value='' />
                </td>
                <td>
		  <input type='TEXT' name='fullname' value='' />
                </td>                 
                <td>
		  <input type='PASSWORD' name='password' value='' />
                  <input type='SUBMIT' value="add' />
                </td>                 
              </tr>
            </form>
          </tbody>
        </table>
  </div>
</div>

 <script type='text/javascript'>
    //<![CDATA[
      $("form.username input").change(function() { 
        $(this).closest("form").submit();
      });
      $("form.password input").change(function() { 
        $(this).closest("form").submit();
      });
    //]]>
  </script>

<!--
#wiki-wrapper.users
  #head
    %h1 Users
  #users
    %ul
      %li 
        %table
          %tbody
            %tr
              %td Bob Roberts
              %td 
                %form.username{:action => "/user_name", :method => "POST"}
                  %input{:type => "TEXT", :value => "Bob Roberts", :name => "username"}
              %td 
                %form.password{:action => "/user_password", :method => "POST"}
                  %input{:type => "PASSWORD", :name => "password"}
 -->
